{% extends 'base/base_publico.html' %}
{% load static %}

{% block conteudo %}
<div class="row justify-content-center">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-3">
        <div class="card" style="width: 100%;">
            <h5 class="card-header">E-Mail</h5>
            <div class="card-body">
                <p class="card-text">sacchettif13@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-3">
        <div class="card" style="width: 100%;">
            <h5 class="card-header">Telefone</h5>
            <div class="card-body">
                <p class="card-text">(69) 99303-3993</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-3">
        <div class="card" style="width: 100%;">
            <h5 class="card-header">Localização</h5>
            <div class="card-body">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d643.1541561768526!2d-61.44949702277799!3d-11.43398516961666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93c82f1734390829%3A0xc0a8576cd13adc36!2z8J-lh1NwZWVkVHJhdmVswq7vuI8gfCDwn5KlSW50ZXJuZXQgZSBUdiB2aWEgZmlicmEgw7NwdGljYSEg8J-buElub3ZhY8OjbyBlIGFsdG8gbsOtdmVsIGRlIGNvbXByb21ldGltZW50by4gfCBDYWNvYWwvUk8!5e0!3m2!1spt-BR!2sbr!4v1645334793319!5m2!1spt-BR!2sbr"
                        height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        class="embed-responsive-item"></iframe>

            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}