{% extends 'base/base_publico.html' %}
{% load static %}
{% block conteudo %}
{% if produto %}
{% if produto.ativo %}
<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
		<div class="container">
			{% if produtos_imagens %}
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for produto_imagem in produtos_imagens %}
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}"
					        {% if forloop.first %} class="active" {% endif %}
					        aria-current="true" aria-label="Slide 1"></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for produto_imagem in produtos_imagens %}
					<div class="carousel-item {% if forloop.first %} active {% endif %}">
						<img src="{{ produto_imagem.imagem.url }}" class="d-block w-100" alt="{{ produto_imagem.alt }}">
					</div>
					{% endfor %}
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
					        data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
					        data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
		<div class="container">
			<table class="table table-bordered table-striped  bg-light">
				<tr>
					<td>Nome</td>
					<td>{{ produto.nome }}</td>
				</tr>
				<tr>
					<td>Preço</td>
					<td>R$ {{ produto.valor_unitario }}</td>
				</tr>
				<tr>
					<td>Categoria</td>
					<td>{{ produto.categoria }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% else %}
<div class="row bg-light">
	<div class="col-12">
		<h1>Tudo errado, não ativo</h1>
	</div>
</div>
{% endif %}
{% else %}
<div class="row bg-light">
	<div class="col-12">
		<h1>Sem arquivo</h1>
	</div>
</div>
{% endif %}
{% endblock conteudo %}