{% extends 'base/base_publico.html' %}
{% load static %}

{% block conteudo %}
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-9 col-12 mt-3">
        <div class="card">
            <h3 class="card-header">Sobre a Empresa</h3>
            <div class="card-body">
                <p class="text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda at atque deleniti ea eos
                    esse est facere in iste iusto, nisi officiis provident quam quisquam ratione saepe sed tenetur.
                    Consectetur culpa delectus eius eum id ipsum itaque, molestias neque nesciunt, nobis, non obcaecati
                    porro quas quis reiciendis sequi tenetur voluptatem? Accusantium, at doloremque iusto mollitia
                    provident sint tempora vitae.
                </p>
                <p class="text-wrap">
                    Amet blanditiis debitis dolor doloremque, est exercitationem fuga nam natus necessitatibus rerum
                    tempore totam veniam, vero? Aliquid deserunt earum esse itaque, nesciunt odit omnis optio rem
                    suscipit totam. Eaque, inventore. Debitis dolores exercitationem ipsam pariatur vero. Consectetur
                    eligendi facere omnis optio quam sed, velit. Culpa delectus doloremque laborum, numquam pariatur
                    quibusdam quis ratione sed sint ut. Id laboriosam quis sint.Accusantium alias aliquid aperiam aut
                    debitis dolorem ex fuga, laboriosam nihil officia tempora voluptates. Animi ea eligendi iure,
                    molestias natus nesciunt nostrum numquam porro quibusdam quis repellat soluta unde vitae. Architecto
                    at deleniti dolorem expedita harum iusto, molestias natus nemo nobis, nulla, odit placeat possimus
                    quos velit vero. Ab assumenda hic incidunt minus numquam quam repellendus sunt tenetur veniam vero.
                </p>
                <p class="text-wrap">
                    Deleniti eius et facilis laudantium placeat quidem quod repudiandae voluptate! Culpa dolores iste
                    nihil, qui similique voluptatem? Commodi cum deserunt earum ex hic laboriosam maiores nisi
                    perspiciatis quod, similique, temporibus? Accusamus atque commodi consectetur, consequatur deserunt
                    dolore, labore maxime minima minus molestias odit quisquam repellat sed tenetur vitae, voluptas
                    voluptatem voluptatum? Autem ipsam obcaecati totam ut. Dolorem illo quas tempore!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}